* {
    font-family: 'Hind Siliguri', sans-serif;
}

a {
    text-decoration: none !important;    
}

.text-black {
    color: #302f2f;
}

.navColor {
    background-color: #e3f2fd;
}

.progotiTeam {
    width: 100%;
}

.about {
    text-align: justify;
}

.gap {
    margin-top: 15px;
}

.row {
    margin-bottom: 15px;
}

.containerGap {
    margin-top: 86px;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}

.cat1 img,
.cat2 img,
.cat3 img {
    width: 100px;
}

.cat1:hover img,
.cat2:hover img,
.cat3:hover img {
    transform: translateY(-2px);
    transition: transform .2s;
}

.cat1 {
    background-image: linear-gradient(to right, rgba(255, 166, 0, 0.7), orange);
}

.cat2 {
    background-image: linear-gradient(to right, rgba(255, 68, 0, 0.7), orangered);
}

.cat3 {
    background-image: linear-gradient(to right, rgba(0, 0, 255, 0.7), blue);
}

.footer {
    text-align: center;
    color: gray;
    margin-bottom: 15px;
}

.manu-img {
    height: 80px;
}